body {
    background-color: #f33c3c;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
  }

  .container {
    margin: auto;
    padding: 1.5rem;
    background-color: rgb(172, 225, 192);
    border: solid 1px rgb(166, 155, 155);
    border-radius: 5px;
    box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container > h1 {
    margin: 0 0 .5rem;
  }
  form input, form button {
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    margin: .75rem 0;
    padding: .25rem;
    line-height: 1.5rem;
    font-size: 1em;
    border: solid 1px gray;
    border-radius: 3px;
  }
  form button:hover {
    background-color: #16a039;
    cursor: pointer;
  }
  #toDoForm {
    margin: 20px 20px 20px 20px;
}